{% extends 'base.html' %}
{% load static %}

{% block title %}About Yume{% endblock %}

{% block content %}



<div class="container py-5">
    <div class="rounded-5 overflow-hidden px-0">

        <!-- HERO -->
        <section class="text-center bg-transparent d-flex align-items-center justify-content-center py-5 rounded-bottom-5 border-bottom">
            <div>
                <h1 class="display-2 fw-bold ">About Yume</h1>
                <div class="rounded-pill mx-auto my-4" style="width:150px; height:4px;"></div>

                <p class="lead opacity-75 mx-auto" style="max-width:700px; line-height:2;">
                    Saudi Arabia’s first capsule hotel platform, delivering a modern and smart hospitality experience designed for travelers, tourists, and business visitors.
                </p>
            </div>
        </section>

        <!-- WHO WE ARE -->
        <section class="py-5">
            <div class="container">
                <div class="row align-items-center g-5">

                    <div class="col-lg-4">
                        <div class="border border-2 border-dark w-100 rounded-4 d-flex align-items-center justify-content-center" style="height:320px;">
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <h2 class="display-6 fw-bold  mb-3">Who We Are</h2>
                        <div class="rounded-pill mb-4" style="width:120px; height:4px;"></div>

                        <p class="opacity-75 lh-lg">
                            Yume is a Saudi hospitality platform focused on redefining short-term stays through smart capsule hotel experiences.

                            Our goal is to provide affordable, flexible, and technology-driven accommodation solutions for tourists, students, business travelers, and event visitors across Saudi Arabia.
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <!-- FEATURES -->
        <section class="about-section pt-0">
            <div class="container">

                <div class="text-center mb-5">
                    <h2 class="section-title">Why Yume?</h2>
                    <div class="section-line mx-auto"></div>
                </div>

                <div class="row g-4">

                    <div class="col-6 col-md-3">
                        <div class="border border-2 border-dark rounded-5 p-4 text-center h-100 shadow-sm">
                            <div class="border border-2 border-dark rounded-4 mx-auto mb-4 d-flex align-items-center justify-content-center"
                             style="width:70px; height:70px;">

                            <h3 class="mb-0">
                                ⌘
                            </h3>

                        </div>
                            <h5 class="fw-bold mb-3">Smart Booking</h5>
                            <p class="opacity-75 small lh-lg">Fast and seamless booking experience.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="border border-2 border-dark rounded-5 p-4 text-center h-100 shadow-sm">
                            <div class="border border-2 border-dark rounded-4 mx-auto mb-4 d-flex align-items-center justify-content-center"
                             style="width:70px; height:70px;">

                            <h3 class="mb-0">
                                ⌘
                            </h3>

                        </div>
                            <h5 class="feature-title">Affordable</h5>
                            <p class="feature-text">Affordable stays for every traveler.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="border border-2 border-dark rounded-5 p-4 text-center h-100 shadow-sm">
                            <div class="border border-2 border-dark rounded-4 mx-auto mb-4 d-flex align-items-center justify-content-center"
                             style="width:70px; height:70px;">

                            <h3 class="mb-0">
                                ⏱
                            </h3>

                        </div>
                            <h5 class="feature-title">Flexible Stay</h5>
                            <p class="feature-text">Flexible hourly or nightly booking options.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="border border-2 border-dark rounded-5 p-4 text-center h-100 shadow-sm">
                            <div class="border border-2 border-dark rounded-4 mx-auto mb-4 d-flex align-items-center justify-content-center"
                             style="width:70px; height:70px;">

                            <h3 class="mb-0">
                                ◈
                            </h3>

                        </div>
                            <h5 class="feature-title">Modern Experience</h5>
                            <p class="feature-text">Modern smart-stay hospitality experience.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- VISION & MISSION -->
        <section class="p-5 mt-5">
            <div class="container">
                <div class="text-center mb-4">
                    <h2 class="section-title">Vision & Mission</h2>
                    <div class="section-line mx-auto"></div>
                </div>

                <div class=" border-dark rounded-5 p-4 text-center h-100 shadow-sm" style="height:220px;">
                    <h1 class="dash" style="
                    position: absolute;
                    font-family:'Times New Roman', Times, serif;
                    font-size: 20rem;
                    top: 139%;                    
                    ">،،</h1>
                    <p class="section-text fs-3 lh-lg mb-0 " style="font-family: 'Times New Roman', Times, serif; text-align: justify;">
                         <i>Our mission is to revolutionize the hospitality industry in Saudi Arabia by providing smart, affordable, and flexible capsule hotel stays that cater to the evolving needs of modern travelers.
                        Our vision is to become the leading smart accommodation platform in Saudi Arabia and the Middle East.
                        We aim to create a seamless booking journey that combines Saudi hospitality with modern digital experiences.
                    </i></p>
                    <h1 class="dash" style="
                    position: absolute;
                    font-family:'Times New Roman', Times, serif;
                    font-size: 20rem;
                    top: 160%; 
                    left: 69%;   
                    rotate: 180deg;                
                    ">،،</h1>
                </div>
            </div>
        </section>

        <!-- CTA -->
        <section class="pb-5">
            <div class="container">
                <div class="bg-transparent rounded-5 p-5 text-center">
                    <h2 class="mb-4">Start Your Journey With Yume</h2>

                    <p class="mb-4">
                        Discover a new generation of capsule stays that combine comfort, privacy, and modern technology.
                    </p>

                    <a href="#" class="btn btn-dark border rounded-pill px-5 py-3 fw-semibold">
                        Explore Hotels
                    </a>
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock %}