{% extends 'base.html' %}
{% load static %}

{% block title %}Cities | Yume{% endblock %}

{% block content %}

<div class="container py-5">

    <!-- PAGE TITLE -->
    <section class="text-center mb-5">

        <h1 class="display-4 fw-bold">
            Explore Cities
        </h1>

        <p class="opacity-75 mt-3 mx-auto"
           style="max-width:700px; line-height:2;">

            Discover capsule hotels across Saudi Arabia.
            Find smart stays in modern destinations designed
            for comfort, simplicity, and affordable travel.

        </p>

    </section>

    <!-- CITIES GRID -->
    {% include 'main/cities_list.html' %}

</div>

{% endblock %}